body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  font-family: "Cuprum", "Arial", sans-serif;
}
header {
  background-color: #f3f7f9;
  height: 320px;
}
.toolbar {
  background-color: #293449;
  height: 42px;
}
.toolbar__inner {
  display: flex;
}
.wrapper {
  margin: 0 auto;
  width: 940px;
}
.toolbar__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  width: 220px;
  height: 47px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-align: center;
  padding: 13px;
  margin: 0;
}
.toolbar__title:hover {
  background-color: #ca2c37;
}
.toolbar__search__input {
  background-color: #293449;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 270px;
  height: 100%;
  padding-left: 50px;
  color: white;
}
.toolbar__search__input::placeholder {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  opacity: 1;
}
.toolbar__search {
  width: 270px;
  position: relative;
  height: 42px;
}
.toolbar__search__button{
  background-image: url(../img/icon-search.svg);
  width: 50px;
  height: 100%;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  z-index: 1;
}
.toolbar__search__form{
  height: 100%;
  display: flex;
}
.toolbar__search__button {
  opacity: 0.3;
}
.toolbar__search__form:hover .toolbar__search__button{
  background-color: #212a3a;
  opacity: 1;
}
.toolbar__search__form:hover .toolbar__search__input{
  background-color: #212a3a;
}
.toolbar__search__form .toolbar__search__input:focus {
  background-color: #ffffff;
  color: black;
}
.toolbar__search__form .toolbar__search__input:focus + button {
  background-color: #ffffff;
  background-image: url(../img/icon-search-focus.svg);
  opacity: 1;
}
.toolbar__button__bookmark {
  width: 150px;
  height: 42px;
  background-color: transparent;
  border: none;
  color: white;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 13% 50%;
  font-size: 17px;
  padding-left: 23px;
  cursor: pointer;
  font-family: "Cuprum", "Arial", sans-serif
}
.toolbar__button__cart {
  width: 150px;
  height: 42px;
  background-color: transparent;
  border: none;
  color: white;
  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 13% 50%;
  font-size: 17px;
  padding-left: 26px;
  cursor: pointer;
  font-family: "Cuprum", "Arial", sans-serif;
}
.toolbar__button__cart.active{
  background-color: #ee3643;
    background-image: url(../img/icon-cart-active.svg);
  }
.toolbar__button__cart:hover {
  background-color: #212a3a;
  background-image: url(../img/icon-cart-hover.svg);
}
.toolbar__button__bookmark:hover {
  background-color: #212a3a;
  background-image: url(../img/icon-bookmark-hover.svg);
}
.toolbar__button__cart:focus {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
  background-image: url(../img/icon-cart-focus.svg);
}
.toolbar__button__bookmark:focus {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
  background-image: url(../img/icon-bookmark-focus.svg);
}
.toolbar__link {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding-top: 14px;
  line-height: 14px;
}
.toolbar__link:hover {
  background-color: #5fbb2d;
}
.toolbar__link:focus {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}
.shop-information__text {
  width: 192px;
  height: 60px;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin-left: 50px;
  margin-top: 2px;
  display: inline-block;
}
.shop-information__contacts__button {
  border: 3px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 74px;
  padding-right: 45px;
  text-align: center;
  background-color: #f4f7f9;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 6% 50%;
}
.shop-information__contacts p {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  margin-top: 5px;
}
.shop-information {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}
.shop-information__contacts {
  display: inline-block;
  text-align: center;
  min-width: 270px;
  margin-left: 22px;
}
.shop-information__login {
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  background-color: #ffffff;
  width: 121px;
  height: 45px;
  padding-left: 34px;
  border: none;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 13% 50%;
  cursor: pointer;
}
.shop-information__login:hover {
  color: #ee3643;
  background-image: url(../img/icon-login-hover.svg);
}
.shop-information__login:focus {
  color: rgba(0, 0, 0, 0.3);
  background-image: url(../img/icon-login.svg);
}
.shop-information__registration {
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  background-color: #ffffff;
  width: 150px;
  height: 45px;
  padding-left: 10px;
  border: none;
  margin-left: 9px;
  cursor: pointer;
}
.shop-information__registration:hover {
  color: #ee3643;
}
.shop-information__registration:focus {
  color: rgba(0, 0, 0, 0.3);
}
.shop-information__user-cabinet {
  text-align: right;
  position: relative;
  width: 299px;
}
.shop-information__user-cabinet__logout{
  position: absolute;
  right: 0;
  top: 0;
  height: 45px;
  width: 45px;
  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
}
.shop-information__user-cabinet__logout:hover{
  background-image: url(../img/icon-logout-hover.svg);
}
.shop-information__user-cabinet__logout:focus{
  background-image: url(../img/icon-logout.svg);
}
.main-nav__link {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-nav {
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
  margin-top: 26px;
}
.main-nav ul{
  display: flex;
  justify-content: space-around;
  padding: 0 26px;
  margin: 0;
  height: 60px;
  align-items: center;
}
.main-nav__item {
  list-style-type: none;
  flex-grow: 1;
  height: 100%;
}
.main-nav__link:hover {
  background-color: #293449;
}
.main-nav__link:focus{
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}
.information__title {
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 30px;
}
.information__text {
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
  margin-top: 23px;
}
.information__list {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  list-style-type: none;
  margin-top: 21px;
  background-image: url(../img/icon-list.svg);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 35px;
}
.information ul{
  padding: 0;
}
.information__button {
  display: block;
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-bottom: 14px;
  padding-top: 11px;
  margin-left: 0px;
  margin-top: 34px;
  border-radius: 3px;
}
.information__button:hover{
  background-color: #ca2c37;
}
.information__button:focus{
  background-color: #ba2732;
}
.information__contacts .information__button {
    width: auto;
}
.information__map {
  border: none;
  background-color: transparent;
  margin-top: 19px;
  margin-left: 0px;
  padding: 0;
  margin-bottom: 2px;
  cursor: pointer;
}
footer {
  background-color: #32425c;
}
.footer__title {
  width: 220px;
  height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding-top: 21px;
  margin: 0;
}
.footer__top{
  height: 158px;
}
.footer__about-list__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__about-list ul{
  display: flex;
  justify-content: space-between;
  width: 550px;
  padding-left: 0px;
  margin-bottom: 6px;
}
.footer__about-list__link {
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.footer__about-list__item {
  list-style-type: none;
}
.footer__about-list__link:hover {
  text-decoration: underline;
}
.footer__about-list__link:focus {
  color: rgba(241, 245, 247, 0.5);
}
.footer__addres {
  width: 323px;
  height: 40px;
  color: #f1f5f7;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 14px;
  margin-left: 3px;
}
.footer__offer-list__wrapper{
display: flex;
justify-content: space-between;
margin-top: 14px;
}
.footer__offer-list__wrapper ul{
  display: flex;
  justify-content: space-between;
  width: 525px;
  padding-left: 0;
}
.footer__offer-list__link {
  color: #ffd180;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.footer__offer-list__item {
  list-style-type: none;
}
.footer__offer-list__link:hover {
  text-decoration: underline;
}
.footer__offer-list__link:focus {
  color: rgba(255, 209, 128, 0.5);
}
.footer__rights {
  background-color: #293449;
  margin-top: 36px;
}
.footer__rights__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 107px;
}
.footer__social{
  display: flex;
  justify-content: space-between;
  width: 132px;
  margin-left: 44px;
}
.footer__links__wrapper{
  display: flex;
  justify-content: space-between;
  width: 284px;
  margin-right: 14px;
}
.footer__copyright {
  width: 227px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.footer__social__link {
  display: flex;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.footer__social__link:hover {
  background-color: #ee3643;
}
.footer__social__link:focus {
  background-color: #ee3643;
}
.footer__links__item {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}
.footer__links_link {
  color: #ffd180;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  margin: 0;
  font-size: 16px;
}
.footer__links_link:hover {
  text-decoration: underline;
}
.footer__links_link:focus {
  color: #ee3643;
  text-decoration: none;
}
/* catalog */
.information{
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  padding-bottom: 85px;
}
.information__about{
  width: 520px;
}
.information__contacts{
  width: 300px;
}
.shop-information__user-cabinet__username {
  width: 299px;
  height: 45px;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  text-align: left;
  border: none;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 5% 50%;
  padding-left: 46px;
}
.shop-information__user-cabinet__username:hover{
  background-image: url(../img/icon-user-hover.svg);
}
.shop-information__user-cabinet__username:focus{
  color: rgba(0, 0, 0, 0.3);
  background-image: url(../img/icon-user.svg);
}
.shop-information__user-cabinet__cabinet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  padding-right: 72px;
  margin-top: 7px;
}
.shop-information__user-cabinet__cabinet__link {
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}
.shop-information__user-cabinet__cabinet__link:hover {
  color: #ee3643;
}
.shop-information__user-cabinet__cabinet__link:focus{
  color: rgba(0, 0, 0, 0.3);
}
.shop-information__user-cabinet__cabinet__img{
  border-radius: 50%;
  width: 4px;
  height: 5px;
  background-color: #32425c;
}
.breadcrumbs ul{
  display: flex;
  padding-left: 0;
  margin: 0;
  height: 59px;
  align-items: center;
}
.breadcrumbs__home{
  background-image: url(../img/icon-home.svg);
  width: 14px;
  height: 12px;
  display: block;
}
.breadcrumbs__link {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.breadcrumbs__link:hover{
  color: #ee3643;
  text-decoration: underline;
}
.breadcrumbs__link::before {
  content: "";
  display: inline-block;
  margin-right: 18px;
  width: 8px;
  height: 12px;
  background-image: url('../img/icon-right-small.png');
}
.breadcrumbs li{
  list-style-type: none;
  margin-right: 15px;
}
.catalog-title {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  background-color: #f2f6f8;
  height: 89px;
  padding-top: 30px;
  padding-left: 30px;
  margin: 0;
}
.filter__title {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 21px;
}
.filter__price-title {
  margin-top: 17px;
  margin-bottom: 19px;
}
.filter__item {
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  list-style-type: none;
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  margin-left: 0px;
}
input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background: url(../img/checkbox-on.svg);
}
input[type="radio"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  width: 27px;
  height: 25px;
  cursor: pointer;
}
input[type="radio"]:checked {
  background-image: url(../img/radio-on.svg);
}
.filter__form ul{
  padding-left: 0px;
  margin-bottom: 21px;
}
.filter__item label{
  margin-left: 8px;
  cursor: pointer;
}
.filter__button {
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  margin-top: 53px;
}
.catalog-content {
  display: flex;
  margin-top: 19px;
}
.filter{
  min-width: 220px;
  margin-right: 20px;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
}
.product-list__card {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  width: 220px;
  padding-bottom: 78px;
}
.product-list__card:nth-child(3n) {
  margin-right: 0;
}
.product-list__card:hover .product-list__card__buy {
  display: block;
}
.product-list__card:hover .product-list__card__bookmark {
  display: block;
}
.product-list__card:hover img {
  display: none;
}
.product-list__card:hover{
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
  transition: 0.2s;
}
.product-list__card__name {
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  padding: 0 20px;
  text-align: center;
  margin-top: 15px;
}
.product-list__card__price{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: -1;
  right: 9;
}
.product-list__card__oldprice {
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: uppercase;
  margin-bottom: -7px;
  margin-left: 4px;
}
.product-list__card__newprice {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  width: 122px;
  height: 38px;
  background-color: #ee3643;
  position: relative;
  text-align: center;
  padding-top: 9px;
  border-radius: 2px;
  padding-left: 15px;
  margin-bottom: 20px;
  margin-right: 11px;
}
.product-list__card__newprice::after {
    content: "";
    position: absolute;
    background-color: #ee3643;
    height: 26px;
    width: 26px;
    right: -13px;
    top: 6px;
    transform: rotate(45deg);
}
.product-list__card__sticker {
  background-color: #ee3643;
  height: 28px;
  width: 100px;
  position: absolute;
  transform: rotate(45deg);
  right: -31px;
  top: 6px;
  text-align: center;
  padding-top: 5px;
  color: white;
}
.product-list__card__buy {
  display: none;
  width: 135px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  margin-bottom: 8px;
  margin-top: 9px;
  background-image: url(../img/icon-cart-button.svg);
  background-repeat: no-repeat;
  background-position: 12%;
}
.product-list__card__buy:hover {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
  background-image: url(../img/icon-cart-hover.svg);
  background-repeat: no-repeat;
  background-position: 12%;
}
.product-list__card__buy:focus {
  background-color: #518534;
  box-shadow: none;
}
.product-list__card__bookmark {
  display: none;
  width: 135px;
  height: 38px;
  border: 3px solid #63a63e;
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: white;
  border-radius: 3px;
}
.product-list__card__bookmark:hover {
  border: 3px solid #32425c;
}
.product-list__card__bookmark:focus {
  border: 3px solid #32425c;
  opacity: 0.3
  }

.product-list__card__media{
  width: 218px;
  height: 164px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-list__card__media img{
  width: 100%;
  height: auto;
}
.visually-hidden{
  display: none;
}
.slider{
  position: relative;
  width: 620px;
  height: 266px;
}
.slider-item{
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 266px;
  padding: 23px 24px;
}
.slider-item.active {
  display: block;
}
.slider-item:nth-child(1){
  background-image: url(../img/slider-2.jpg);
}
.slider-item:nth-child(2){
  background-image: url(../img/slider-1.jpg);
}
.slider-list{
  margin: 0;
  padding: 0;
}
.slider-item h2{
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  max-width: 94px;
  color: #ffffff;
}
.slider-item p{
  margin: 0;
  max-width: 144px;
  color: #ffffff;
  margin-top: 4px;
  font-size: 18px;
}
.slider-controls{
  position: absolute;
  bottom: 38px;
  display: flex;
  left: 40%;
  right: 40%;
  justify-content: center;
}
.slider-controls i{
  margin: 0 6px;
  width: 10px;
  height: 10px;
  background-color: white;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}
.slider-controls i.active::after{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: #ee3643;
    border-radius: 50%;
}
.slider__button{
  display: block;
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-bottom: 14px;
  padding-top: 11px;
  position: absolute;
  bottom: 22px;
  left: 25px;
  border-radius: 3px;
}
.slider__button:hover{
  background-color: #ca2c37;
}
.slider__button:focus{
  background-color: #ba2732;
}
.slider-button-left{
  background-image: url(../img/icon-left.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 22px;
  height: 40px;
  border: none;
  background-color: transparent;
  top: 114px;
  left: 25px;
  cursor: pointer;
}
.slider-button-right{
  background-image: url(../img/icon-right.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 22px;
  height: 40px;
  border: none;
  background-color: transparent;
  top: 114px;
  right: 20px;
  cursor: pointer;
}
.main-banners__item{
    width: 300px;
    height: 123px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
}
.main-banners__left{
    display: flex;
    flex-wrap: wrap;
}
.main-banners{
    display: flex;
    margin-top: 59px;
}
.main-banners__left .main-banners__item{
    margin-right: 20px;
}
.main-banners__right .main-banners__item{
    margin-bottom: 20px;
}
.main-banners__item__sticker {
  background-color: #ee3643;
  height: 28px;
  width: 100px;
  position: absolute;
  transform: rotate(45deg);
  right: -30px;
  top: 5px;
  text-align: center;
  padding-top: 5px;
  color: white;
}
.main-banners__item__name{
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  left:21px;
  margin: 0;
  top: 20px;
}
.main-banners__item__link {
  width: 135px;
  height: 38px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: absolute;
  border-radius: 2px;
  bottom: 22px;
  left: 25px;
}
.main-banners__item__link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.main-banners__item__link:focus {
  background-color: rgba(0, 0, 0, 0.3);
}
.main-banners__item.materials{
  background-image: url(../img/icon-1.svg);
  background-color: #ffbf47;
  background-position: 83% 54%;
}
.main-banners__item.instruments{
  background-image: url(../img/icon-2.svg);
  background-color: #3bbce3;
  background-position: 87% 54%;
}
.main-banners__item.technic{
  background-image: url(../img/icon-3.svg);
  background-color: #dc91d8;
  background-position: 87% 54%;
}
.main-banners__item.sales{
  background-image: url(../img/icon-4.svg);
  background-color: #8ed78f;
  background-position: 81% 54%;
}
.main-banners__item.delivery{
  background-image: url(../img/icon-5.svg);
  background-color: #ffc047;
  background-position: 86% 54%;
}
.popular-products__title{
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: 33px;
  padding: 0 25px;
}
.popular-products__title h2{
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.popular-products__button{
  display: block;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-bottom: 14px;
  padding-top: 11px;
  border-radius: 3px;
}
.popular-products__button:hover{
  background-color: #ca2c37;
}
.popular-products__button:focus{
  background-color: #ba2732;
}
.popular-products__card{
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 220px;
  padding-bottom: 76px;
}
.popular-products__card:last-child {
  margin-right: 0;
}
.popular-products__card__media{
  width: 218px;
  height: 164px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-products__card__media img{
  width: 100%;
  height: auto;
}
.popular-products__items{
  margin-top: 20px;
  display: flex;
}
.popular-products__card:hover .popular-products__card__buy {
  display: block;
}
.popular-products__card:hover .popular-products__card__bookmark {
  display: block;
}
.popular-products__card:hover img {
  display: none;
}
.popular-products__card__name {
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  padding: 0 20px;
  text-align: center;
}
.popular-products__card__price{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
}
.popular-products__card__oldprice {
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: uppercase;
  margin-bottom: -7px;
}
.popular-products__card__newprice {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  width: 122px;
  height: 38px;
  background-color: #ee3643;
  position: relative;
  text-align: center;
  padding-top: 10px;
  border-radius: 2px;
  top: -4px;
  left: -6px;
}
.popular-products__card__newprice::after {
    content: "";
    position: absolute;
    background-color: #ee3643;
    height: 26px;
    width: 26px;
    right: -13px;
    top: 6px;
    transform: rotate(45deg);
}
.popular-products__card__sticker {
  background-color: #ee3643;
  height: 28px;
  width: 100px;
  position: absolute;
  transform: rotate(45deg);
  right: -26px;
  top: 6px;
  text-align: center;
  padding-top: 5px;
  color: white;
}
.popular-products__card__buy {
  display: none;
  width: 135px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  margin-bottom: 8px;
}
.popular-products__card__buy:hover {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
}
.popular-products__card__buy:focus {
  background-color: #518534;
  box-shadow: none;
}
.popular-products__card__bookmark {
  display: none;
  width: 135px;
  height: 38px;
  border: 3px solid #63a63e;
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: white;
  border-radius: 3px;
}
.popular-products__card__bookmark:hover {
  border: 3px solid #32425c;
}
.popular-products__card__bookmark:focus {
  border: 3px solid #32425c;
  opacity: 0.3
  }
.popular-products__card__media{
  width: 218px;
  height: 164px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popular-products__card__media img{
  width: 100%;
  height: auto;
}
.popular-producers{
  margin-bottom: 63px;
}
.popular-producers__title{
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin-top: 20px;
  padding: 0 25px;
}
.popular-producers__title h2{
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.popular-producers__button{
  display: block;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-bottom: 14px;
  padding-top: 11px;
  top: 58px;
  right: 23px;
  border-radius: 3px;
}
.popular-producers__button:hover{
  background-color: #ca2c37;
}
.popular-producers__button:focus{
  background-color: #ba2732;
}
.popular-producers__items{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
}
.popular-producers__card{
  width: 220px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 146px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  background-color: white;
  transition: 0.3s;
}
.popular-producers__card img{
  transition: 0.3s;
}
.popular-producers__card:hover{
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  border: none;
  background-color: rgba(255, 255, 255, 1);
}
.popular-producers__card:focus img{
  opacity: 0.3;
}
.popular-producers__card:nth-child(4n){
  margin-right: 0;
}
.grey-background{
  background-color: #f4f8fa;
}
.services {
  height: 527px;
}
.services__main{
  width: 410px;
  height: 96px;
  color: #000000;
  padding-top: 40px;
  padding-bottom: 197px;
}
.services__main h2{
  font-family: "PT Sans";
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.services__main p{
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.services__list__buttons{
  display: flex;
  flex-direction: column;
  width: 240px;
  position: relative;
}
.services__list__button{
  width: 240px;
  height: 61px;
  box-shadow: inset 0 -1px 0 #33445a;
  background-color: #32425c;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  padding-left: 20px;
  border: none;
  cursor: pointer;
}
.services__list__buttons::after{
  content: "";
  background-image: url(../img/shadow.png);
  position: absolute;
  width: 10px;
  height: 279px;
  right: 0;
  top: -46px;
}
.services__list__button:hover{
  background-color: #293449;
}
.services__list__button.active{
  background-color: #ffffff;
  color: #32425c;
  display: block;
  box-shadow: none;
}
.services__items__description{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 275px;
  margin-left: 81px;
}
.services__items__description.active {
  display: flex;
}
.services__items__description h2{
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 9px;
}
.services__items__description p{
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
  z-index: 1;
}
.services__list__wrapper{
  display: flex;
  position: relative;
}
.services__items__description::after{
  content: "";
  background-image: url(../img/delivery.png);
  position: absolute;
  right: 1px;
  top: 24px;
  width: 468px;
  height: 261px;
}
#guarantee::after{
  background-image: url(../img/guarantee.png);
}
#credit::after{
  background-image: url(../img/credit.png);
}
.guarantee__button{
  display: flex;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}
.guarantee__button:hover{
  background-color: #ca2c37;
}
.guarantee__button:focus{
  background-color: #ba2732;
}
.information__map-popup{
  position: fixed;
  width: 940px;
  height: 447px;
  top: 50%;
  left: 50%;
  margin-left: -470px;
  margin-top: -223px;
  z-index: 3;
}
.information__map-popup__btn-close{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 23px;
  width: 23px;
  background: none;
  border: none;
  cursor: pointer;
}
.information__map-popup__btn-close::before,.information__map-popup__btn-close::after{
  content: "";
  position: absolute;
  height: 30px;
  width: 2px;
  width: 3px;
  background-color: #ee3643;
  top: -5px;
  border-radius: 2px;
}
.information__map-popup__btn-close::before{
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.information__map-popup__btn-close::after{
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.information__writeus{
  position: fixed;
  width: 620px;
  height: 430px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  margin-left: -310px;
  margin-top: -223px;
  z-index: 4;
}
.information__writeus__btn-close{
  position: absolute;
  top: 16px;
  right: 9px;
  height: 23px;
  width: 23px;
  background: none;
  border: none;
  cursor: pointer;
}
.information__writeus__btn-close::before,.information__writeus__btn-close::after{
  content: "";
  position: absolute;
  height: 30px;
  width: 3px;
  background-color: #ee3643;
  top: -5px;
  border-radius: 2px;
}
.information__writeus__btn-close::before{
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.information__writeus__btn-close::after{
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.information__writeus__form label{
  display: block;
  color: #000000;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 11px;
}
.information__writeus__form input{
  width: 220px;
  height: 38px;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
  border-radius: 3px;
}
.information__writeus__form input:hover{
  border: 2px solid #b5b5b5;
  background-color: #ffffff;
}
.information__writeus__form input:focus{
  border: 2px solid #ee3643;
  background-color: #ffffff;
}
.information__writeus__form textarea:hover{
  border: 2px solid #b5b5b5;
  background-color: #ffffff;
}
.information__writeus__form textarea:focus{
  border: 2px solid #ee3643;
  background-color: #ffffff;
}
.information__writeus__form::placeholder{
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.writeus-name__wrapper{
  display: flex;
  flex-direction: column;
}
.writeus-mail__wrapper{
  display: flex;
  flex-direction: column;
}
.writeus__wrapper{
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 48px;
}
.writeus__wrapper::before{
  content: "";
  height: 7px;
  right: 0;
  left: 0;
  background-color: #ff5357;
  position: absolute;
  top: 0;
}
.writeus-text__wrapper{
  display: flex;
  flex-direction: column;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 22px;
}
.information__writeus__button__wrapper{
  display: flex;
  background-color: #f4f4f4;
  justify-content: center;
  align-items: center;
  height: 112px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.information__writeus__button{
  display: flex;
  width: 253px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: none;
}
.information__writeus__button:hover{
  background-color: #ca2c37;
}
.information__writeus__button:focus{
  background-color: #ba2732;
}
.information__writeus__form textarea{
  height: 114px;
  border: 2px solid #dee3e4;
  background-color: #ffffff;
  border-radius: 3px;
}
.filter-name{
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f7f3ec;
  display: flex;
  height: 38px;
  align-items: center;
  padding-left: 18px;
  margin-top: 0;
}
.price-range {
  height: 80px;
  background-color: #f7f3ec;
  position: relative;
}
.price-range .circle {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px #e0ddd8;
  top: 30px;
  cursor: pointer;
}
.left-circle {
  left: 20px;
  z-index: 2;
}
.right-circle {
  right: 40px;
  z-index: 3;
}
.price-range .circle::after {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  background-color: #b1b1b1;
  border-radius: 50%;
  top: 8px;
 left: 8px;
}
.price-range::after {
  content: "";
  width: 180px;
  height: 2px;
  position: absolute;
  background-color: #d7dcde;
  top: 39px;
  left: 20px;
  z-index: 1;
}
.price-range::before {
  content: "";
  width: 152px;
  height: 2px;
  position: absolute;
  background-color: #00ca74;
  top: 39px;
  left: 20px;
  z-index: 2;
}
.prices{
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.min-price input, .max-price input{
  background-color: #f7f3ec;
  border: none;
  border-radius: 3px;
  height: 38px;
  width: 95px;
  text-align: center;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 5px;
  padding-bottom: 3px;
}
.prices__dash{
  width: 10px;
  height: 1px;
  background-color:#444444;
}
.filter hr {
  border-color: #e5e5e5;
}
.sort{
  display: flex;
  background-color: #f7f3ec;
  height: 38px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.sort-name{
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f7f3ec;
  display: flex;
  height: 38px;
  align-items: center;
  padding-left: 18px;
}
.sort-items{
  display: flex;
  align-items: center;
}
.sort-items__button{
  border: none;
  background-color: #f7f3ec;
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-bottom: 1px dotted #ee3643;
  margin-left: 68px;
  padding: 0;
  cursor: pointer;
}
.sort-items__button:hover{
  border-bottom: 1px solid #ee3643;
  color: #000000;
}
.sort-items__button.active{
  border-bottom: 1px solid transparent;
  color: #ee3643;
}
.sort-buttons{
  margin-left: 40px;
  height: 100%;
}
.sort-buttons button {
  border: none;
  position: relative;
  background: none;
  width: 20px;
  height: 100%;
  margin-right: 11px;
  cursor: pointer;
}
.sort-button__asc::after{
  content: "";
  position: absolute;
  right: 2px;
  top: 9px;
  border: 6px solid transparent;
  border-bottom: 11px solid #c5c5c5;
}
.sort-button__desc::after{
  content: "";
  position: absolute;
  right: 5px;
  top: 14px;
  border: 6px solid transparent;
  border-top: 11px solid #c5c5c5;
}
.sort-button__asc:hover::after{
  border-bottom: 11px solid #231f20;
}
.sort-button__asc.active::after{
  border-bottom: 11px solid #ee3643;
}
.sort-button__desc:hover::after{
  border-top: 11px solid #231f20;
}
.sort-button__desc.active::after{
  border-top: 11px solid #ee3643;
}
.pagination-field{
  display: flex;
  margin-top: 34px;
}
.pagination-button.active{
  background-color: #ee3643;
  height: 38px;
  margin-right: 11px;
  min-width: 38px;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 2px;
}
.pagination-button{
  border: 1px solid #e5e5e5;
  height: 38px;
  margin-right: 11px;
  background-color: #ffffff;
  min-width: 38px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 2px;
}
.pagination-button-next{
  border: 1px solid #e5e5e5;
  height: 38px;
  margin-right: 11px;
  background-color: #ffffff;
  min-width: 38px;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 2px;
  width: 137px;
  text-transform: uppercase;
}
.pagination-button:hover{
  border: 1px solid #bdc6ca;
}
.pagination-button-next:hover{
  border: 1px solid #bdc6ca;
}
.pagination-button:focus{
  border: 1px solid #ee3643;
}
.pagination-button-next:focus{
  border: 1px solid #ee3643;
}
.catalog-description {
  background-color: #f2f6f8;
  margin-top: 59px;
  padding-top: 41px;
  height: 261px;
}
.about-item h2{
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.18px;
}
.about-item p{
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
}
.addtocard__popup{
  position: fixed;
  width: 620px;
  height: 282px;
  box-shadow: 0 20px 40px rgba(41, 52, 73, 0.75);
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  z-index: 4;
  margin-left: -310px;
  margin-top: -141px;
}
.addtocard__popup__btn-close{
  position: absolute;
  top: 16px;
  right: 9px;
  height: 23px;
  width: 23px;
  background: none;
  border: none;
  cursor: pointer;
}
.addtocard__popup__btn-close::before,.addtocard__popup__btn-close::after{
  content: "";
  position: absolute;
  height: 30px;
  width: 3px;
  background-color: #ee3643;
  top: -5px;
  border-radius: 2px;
}
.addtocard__popup__btn-close::before{
  webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.addtocard__popup__btn-close::after{
  webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.addtocard__popup::before{
  content: "";
  height: 7px;
  right: 0;
  left: 0;
  background-color: #ff5357;
  position: absolute;
  top: 0;
}
.addtocard__wrapper{
  display: flex;
  justify-content: center;
}
.addtocard__wrapper p{
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 75px;
  margin-left: 54px;
  position: relative;
}
.addtocard__wrapper p::before{
  content: "";
  background-image: url(../img/form-1.png);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -20px;
  left: -98px;
  width: 66px;
  height: 66px;
}
.addtocard__buttons__wrapper{
  display: flex;
  background-color: #f4f4f4;
  justify-content: center;
  align-items: center;
  height: 112px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.addtocard__buttons__wrapper a{
  text-decoration: none;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  display: flex;
  width: 220px;
  height: 38px;
  align-items: center;
  justify-content: center;
  margin:0 10px;
  border-radius: 2px;
}
.addtocard__buttons__wrapper button{
  border: none;
  color: #000000;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  display: flex;
  width: 220px;
  height: 38px;
  align-items: center;
  justify-content: center;
  margin:0 10px;
  border-radius: 2px;
}
