body {
  font-family: Cuprum, sans-serif;
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
header {
  background-color: #f3f7f9;
  height: 320px;
}
.toolbar {
  background-color: #293449;
  height: 42px;
}
.toolbar__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  width: 220px;
  height: 47px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  text-align: center;
  padding: 13px;
  margin: 0;
  margin-left: 170px;
}
.toolbar__title:hover {
  background-color: #ca2c37;
}
.toolbar__search__input::placeholder {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}
.toolbar__search__input {
  background-color: #293449;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 270px;
  padding-left: 49px;
}
.toolbar__search {
  width: 270px;
  position: relative;
  height: 42px;
}
.toolbar__search__input:focus {
  background-color: #ffffff;
}
.toolbar__button {
  width: 150px;
  height: 42px;
  background-color: transparent;
  border: none;
  color: white;
}
.toolbar__button:hover {
  background-color: #212a3a;
}
.toolbar__button:focus {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}
.toolbar__link {
  width: 150px;
  height: 42px;
  background-color: #63a63e;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding-top: 14px;
  line-height: 14px;
}
.toolbar__link:hover {
  background-color: #5fbb2d;
}
.toolbar__link:focus {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}
.shop-information__text {
  width: 196px;
  height: 60px;
  color: #ee3643;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  margin-left: 223px;
  display: inline-block;
}
.shop-information__contacts__button {
  border: 3px solid #ffffff;
  color: #ee3643;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 74px;
  padding-right: 52px;
  text-align: center;
  background-color: #f4f7f9;
}
.shop-information__contacts p {
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
}
.shop-information {
  margin-top: 46px;
}
.shop-information__contacts {
  display: inline-block;
  margin-left: 71px;
  text-align: center;
}
.shop-information__login {
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  background-color: #ffffff;
  width: 121px;
  height: 45px;
  padding-left: 21px;
  border: none;
}
.shop-information__login:hover {
  color: #ee3643;
}
.shop-information__login:focus {
  color: rgba(0, 0, 0, 0.3);
}
.shop-information__registration {
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  background-color: #ffffff;
  width: 150px;
  height: 45px;
  padding-left: 10px;
  border: none;
}
.shop-information__registration:hover {
  color: #ee3643;
}
.shop-information__registration:focus {
  color: rgba(0, 0, 0, 0.3);
}
.shop-information__user-cabinet {
  display: inline-block;
  margin-left: 69px;
}
.main-nav__link {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
}
.main-nav {
  box-shadow: inset 0 -5px 0 #293449;
  background-color: #32425c;
}
.main-nav__item {
  list-style-type: none;
}
.main-nav__link:hover {
  background-color: #293449;
}
.main-nav__link:focus{
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}
.information__title {
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}
.information__text {
  font-family: "PT Sans";
  font-weight: 400;
  line-height: 24px;
  font-size: 13px;
}
.information__list {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  list-style-type: none;
}
.information__button {
  display: block;
  width: 220px;
  height: 38px;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-bottom: 14px;
  padding-top: 11px;
  margin-left: 41px;
}
.information__map {
  border: none;
  background-color: transparent;
}
.footer__title {
  width: 220px;
  height: 68px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding-top: 21px;
}
footer {
  background-color: #32425c;
}
.footer__about-list__link {
  color: #f3f7f9;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.footer__about-list__item {
  list-style-type: none;
}
.footer__about-list__link:hover {
  text-decoration: underline;
}
.footer__about-list__link:focus {
  color: rgba(241, 245, 247, 0.5);
}
.footer__addres {
  width: 322px;
  height: 40px;
  color: #f1f5f7;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.footer__offer-list__link {
  color: #ffd180;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}
.footer__offer-list__item {
  list-style-type: none;
}
.footer__offer-list__link:hover {
  text-decoration: underline;
}
.footer__offer-list__link:focus {
  color: rgba(255, 209, 128, 0.5);
}
.footer__rights {
  background-color: #293449;
}
.footer__copyright {
  width: 227px;
  height: 33px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.footer__social__link {
  display: block;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
  padding-top: 11px;
  text-align: center;
}
.footer__social__link:hover {
  background-color: #ee3643;
}
.footer__social__link:focus {
  background-color: #ee3643;
}
.footer__links__item {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}
.footer__links_link {
  color: #ffd180;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}
.footer__links_link:hover {
  text-decoration: underline;
}
.footer__links_link:focus {
  color: #ee3643;
  text-decoration: none;
}
/* catalog */
.shop-information__user-cabinet__username {
  width: 299px;
  height: 45px;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  font-weight: 400;
  text-align: center;
  border: none;
}
.shop-information__user-cabinet__username:focus{
  color: rgba(0, 0, 0, 0.3);
}
.shop-information__user-cabinet__cabinet__link {
  color: #32425c;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
}
.shop-information__user-cabinet__cabinet__link:hover {
  color: #ee3643;
}
.shop-information__user-cabinet__cabinet__link:focus{
  color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs__link {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
}
.breadcrumbs li{
  list-style-type: none;
}
.catalog-title {
  color: #32425c;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  background-color: #f2f6f8;
  height: 89px;
  padding-top: 30px;
  padding-left: 30px;
}
.filter__title {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
.filter__item {
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  list-style-type: none;
}
.filter__button {
  width: 140px;
  height: 38px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
}
.product-list__card {
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  position: relative;
}
.product-list__card:hover .product-list__card__buy {
  display: block;
}
.product-list__card:hover .product-list__card__bookmark {
  display: block;
}
.product-list__card:hover img {
  display: none;
}
.product-list__card__name {
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
}
.product-list__card__oldprice {
  color: #999999;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: uppercase;
}
.product-list__card__newprice {
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  width: 122px;
  height: 38px;
  background-color: #ee3643;
  position: relative;
  text-align: center;
  padding-top: 10px;
  border-radius: 2px;
}
.product-list__card__newprice::after {
    content: "";
    position: absolute;
    background-color: #ee3643;
    height: 26px;
    width: 26px;
    right: -13px;
    top: 6px;
    transform: rotate(45deg);
}
.product-list__card__sticker {
  background-color: #ee3643;
  height: 28px;
  width: 100px;
  position: absolute;
  transform: rotate(45deg);
  right: -26px;
  top: 6px;
  text-align: center;
  padding-top: 5px;
  color: white;
}
.product-list__card__buy {
  display: none;
  width: 135px;
  height: 38px;
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}
.product-list__card__buy:hover {
  box-shadow: inset 0 -3px 0 #367315;
  background-color: #5fbb2d;
}
.product-list__card__buy:focus {
  background-color: #518534;
  box-shadow: none;
}
.product-list__card__bookmark {
  display: none;
  width: 135px;
  height: 38px;
  border: 3px solid #63a63e;
  color: #32425c;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: white;
  border-radius: 3px;
}
.product-list__card__bookmark:hover {
  border: 3px solid #32425c;
}
.product-list__card__bookmark:focus {
  border: 3px solid #32425c;
  opacity: 0.3
  }
